<div style="width: 500px; margin: 0 auto; text-aligh: center">
    <h1>Login</h1>
    <a href="/auth/github">Login width GitHub</a><br>
    <a href="/auth/facebook">Login Facebook</a><br>
<!-- verificar o porque do erro nestas chamadas
    <a href="/auth/google">Login Google</a><br>
    <a href="/auth/linkedin">Linkedin</a>
-->
</div>